<!-- FILEPATH: /d:/projects/Vorbereitung/Scrum/templates/change_password.html -->
{% load static %}
<h1>Change Password</h1>
<link rel="stylesheet" href="{% static 'profile.css' %}" />
<form method="POST">
  <div class="form-container">
    
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
  <label for="old_password">Old Password</label>
  <input class="input" type="password" name="old_password" id="old_password" />
  <label for="new_password">New Password</label>
  <input class="input" type="password" name="new_password" id="new_password" />
  <label for="new_password2">conform password</label>
  <input class="input" type="password" name="new_password2" id="new_password2" />{% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}
  </div>
  <div class="buttons-container">
  <a href="{% url 'profile' %}" class="back">Cancel</a> 
  <button type="submit" class="button">Change Password</button>
  </div>
</form>

</form>
